# Ignorar diretórios comuns do Django e Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Ignorar dependências locais do Python
venv/
env/

# Ignorar arquivos do Git
.git
.gitignore

# Ignorar logs e arquivos temporários
*.log
*.swp
*.swo
*.bak

# Ignorar arquivos e pastas geradas pelo editor
.vscode/
.idea/
*.code-workspace

# Ignorar uploads e mídia (se for gerado dinamicamente)
media/
staticfiles/
